<h4>New Card</h4>

<form>
  <input type="hidden"
         name="card[list_id]"
         value="<%= list.escape("id") %>">

  <label for="title-input" class="title-label">Title</label>
    <input id="title-input" type="text" name="card[title]"></input>
  <br>

  <label for="description-text" class="description-label">Description</label>
    <textarea id="description-text" type="text" name="card[description]"></textarea>
  <br>

  <input type="submit">
</form>
