<li class="card-item">
  <div class="card-title">
    <%= card.escape('title') %>
  </div>

  <div class="card-description">
    <%= card.escape('description') %>
  </div>

  <button class="card-delete">Delete Card</button>
</li>
