/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#main {
  margin: 40px;
}

.lists {
  width: 800px;
  height: 800px;
  padding: 20px;
  float: left;
  background-color: #00CCFF;
  .ui-sortable-handle {
    margin: 20px;
    display: inline-block;
  }
}

.list-show {
  padding: 10px;
  background-color: cornflowerblue;
}

.dragged {
  -webkit-transform: rotate(7deg);
  box-shadow: 3px 3px 3px #3366CC;
}

.lists-new {
  float: left;
  height: 800px;
  padding: 30px;
  background-color: #00CCFF;
}

.board-delete {
  float: left;
  margin: 0 10px;
}

.index-link {
  float: left;
  margin: 0 10px;
}

.cards-new {
  margin: 10px 0;
}

.card-delete {
  display: none;
}

.card-item:hover .card-delete {
  display: block;
}

.title-label {
  display: block;
}

#title-input {
  display: block;
}

.description-label {
  display: block;
}

#description-input {
  display: block;
}
