<h3>New List</h3>

<form>
  <input type="hidden"
         name="list[board_id]"
         value="<%= board.escape("id") %>">

  <label>
    Title
    <input type="text" name="list[title]"></input>
  </label>

  <input type="submit">
</form>
