<div class="lists-show">
  <div class="list-title">
    <%= list.escape('title') %>
  </div>

  <ul class="cards"></ul>

  <div class="cards-new"></div>

  <button class="list-delete">Delete List</button>
</div>
